@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: Roboto, sans-serif;
  padding: 20px;
}

a {
  color: #056cc1;
}

pre {
  white-space: pre-wrap;
}

.example {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 20px;
  max-width: 640px;
  padding: 10px;
}

.example > h1 {
  background-color: #00253c;
  color: #fff;
  margin: 0 0 20px;
  padding: 10px 15px;
}

.heading {
  font-size: 25px;
  margin: 0 0 20px;
}

.navigation {
  margin-bottom: 20px;
}

.navigation__list {
  overflow-x: scroll;
  padding: 0;
  white-space: nowrap;
}

.navigation__list-option {
  display: inline-block;
  margin-right: 1px;
}

.navigation__link {
  background-color: #00253c;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link--active {
  background-color: #c4204b;
}

.error {
  background-color: #c4204b;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
